<section class="back-to-inside section">
  <h2 class="back-to-inside__title">{{knowMore}}</h2>
  <h2 class="back-to-inside__subtitle">{{checkOut}}</h2>
  <a href="/" title="inside alphadev">
    <div class="back-to-inside__logo">
      <img class="back-to-inside__logo-inside" src="/inside_black.svg" alt="alphadev">
      <img class="back-to-inside__logo-alphadev" src="/alphadev_logo.svg" alt="alphadev">
    </div>
  </a>
</section>
