<section class="cover section" id="cover">

  <img class="cover__inside-svg" src="/inside.svg" alt="inside">

  <img class="cover__alphadev-svg" src="/alphadev_logo_white.svg" alt="alphadev">

  <h4>{{phonetic}}</h4>
  <p class="cover__subtext">
    {{text}}
  </p>
  <img id="cover-arrow" class="cover__arrow" src="/scrollpil.svg" alt="arrow">
</section>
