<section id="customers" class="customers">
  <div class="customers__content">
    <h2>{{title}}</h2>
    <p>{{text}}</p>

    <ul class="customers__list">
      <li><img src="/companies/hm.png" alt=""></li>
      <li><img src="/companies/spotify.png" alt=""></li>
      <li><img src="/companies/nasdaq.png" alt=""></li>
      <li><img src="/companies/expressen.png" alt=""></li>
      <li><img src="/companies/klarna.png" alt=""></li>
      <li><img src="/companies/tre.png" alt=""></li>
    </ul>
  </div>
</section>
