
<section class="customers">
  <div class="customers__content">
    <h2>{{title}}</h2>
    <p>{{text}}</p>

    <ul class="customers__list">
      <li><img src="" alt=""><li>
    </ul>
  </div>
</section>
