<section id="customers" class="customers section">
  <div class="customers__content">
    <h2>{{title}}</h2>
    <p>{{text}}</p>

    <ul class="customers__list">
      <li><img src="/companies/hm.png" alt="H&M"></li>
      <li><img src="/companies/spotify.png" alt="Spotify"></li>
      <li><img src="/companies/nasdaq.png" alt="Nasdaq"></li>
      <li><img src="/companies/expressen.png" alt="Expressen"></li>
      <li><img src="/companies/klarna.png" alt="Klarna"></li>
      <li><img src="/companies/tre.png" alt="Tre"></li>
    </ul>
  </div>
</section>
