<div class="dotstyle-menu" id="dot_menu">
  <ul class="dotstyle-menu__list">
    <li class="dotstyle-menu__list-item dotstyle-menu__list-item--current" data-hash="#cover" data-scroll>
      <a href="#cover" class="dotstyle-menu__link"></a>
    </li>
    <li class="dotstyle-menu__list-item" data-hash="#one_of_us" data-scroll>
      <a href="#one_of_us" class="dotstyle-menu__link"></a>
    </li>
    <li class="dotstyle-menu__list-item" data-hash="#family" data-scroll>
      <a href="#family" class="dotstyle-menu__link"></a>
    </li>
    <li class="dotstyle-menu__list-item" data-hash="#customers" data-scroll>
      <a href="#customers" class="dotstyle-menu__link"></a>
    </li>
    <li class="dotstyle-menu__list-item" data-hash="#gallery" data-scroll>
      <a href="#gallery" class="dotstyle-menu__link"></a>
    </li>
    <li class="dotstyle-menu__list-item" data-hash="#timeline" data-scroll>
      <a href="#timeline" class="dotstyle-menu__link"></a>
    </li>
    <li class="dotstyle-menu__list-item" data-hash="#join_us" data-scroll>
      <a href="#join_us" class="dotstyle-menu__link"></a>
    </li>
  </ul>
</div>
