<div class="dotstyle-menu dotstyle-menu--fillup">
	<ul class="dotstyle-menu__list">
    <li class="dotstyle-menu__list-item dotstyle-menu__list-item--current">
      <a href="#one_of_us"><h4>om oss</h4></a>
    </li>
    <li class="dotstyle-menu__list-item">
      <a href="#the_family"><h4>vi som jobbar här</h4></a>
    </li>
    <li class="dotstyle-menu__list-item">
      <a href="#customers"><h4>uppdrag & kunder</h4></a>
    </li>
    <li class="dotstyle-menu__list-item">
      <a href="#gallery"><h4>historik</h4></a>
    </li>
    <li class="dotstyle-menu__list-item">
      <a href="#timeline"><h4>händelser</h4></a>
    </li>
	</ul>

  <img class="dotstyle-menu__scroll-indicator" src="scrollmus.svg">
  <img class="dotstyle-menu__scroll-arrow" src="scrollpil.svg">
</div>
