<section id="employer-of-the-future" class="employer-of-the-future section">
		<h2>{{title}}</h2>
    <p>{{text}}</p>
  <div class="employer-of-the-future-details">
    <div class="employer-of-the-future-details__image-wrapper">
			<img class="employer-of-the-future-details__image"src="/framtidens-arbetsgivare.svg" alt="Framtidens arbetsgivare">
    </div>
  </div>
</section>