<footer id="contact" class="footer__bottom">
  <div class="contact">
    <div class="contact__logo"></div>
    <div class="contact__adress">{{adress}}</div>
    <div class="contact__info">
      <span class="contact__info-tel">{{tel}}</span>
      <span class="contact__info-mail"><a href="mailto:{{mail}}">{{mail}}</a></span>
    </div>
    <div class="contact__social">
      <a href="https://www.instagram.com/alphadevsthlm/">
        <span class="social-instagram"></span>
      </a>
      <a href="https://www.linkedin.com/company/alphadev/">
        <span class="social-linkedin"></span>
      </a>
      <a href="https://twitter.com/alphadevsthlm">
        <span class="social-twitter"></span>
      </a>
      <a href="https://www.facebook.com/pages/Alphadev-AB/318200495044855">
        <span class="social-facebook"></span>
      </a>
    </div>
  </div>
</footer>