<header class="header" id="header">
  <div class="header__wrapper">
    <nav class="header__nav">
      <a href="#one_of_us" class="header__link"><h4>OM</h4></a>
      <a href="#family" class="header__link"><h4>VI</h4></a>
      <a href="#customers" class="header__link"><h4>GÖR</h4></a>
      <a href="#timeline" class="header__link"><h4>TID</h4></a>
    </nav>
    <div class="header__nav-wrapper">
      <div class="header__nav-icon ">
        <span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
  </div>
</header>
