<section id="family" class="the-family">
  <h2 class="the-family__title">Hälsa på oss i familjen</h2>
  <div class="the-family-wrapper">
    {{#each the_family.members}}
      <div class="family-member">
        <div class="family-member__image-container">
          <div class="family-member__triangle"></div>
          <div class="family-member__image-wrapper">
            <img class="family-member__image" src="{{this.image}}">
          </div>
        </div>
        <div class="family-member__description">
          <h3>{{this.name}}</h3>
          <span>{{this.title}}</span>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="the-family__center-text">
        <span id="show-all-arrow" class="arrow">
            <span></span>
            <span></span>
            <span></span>
        </span>
    <h4>SE ALLA {{the_family.members.length}}</h4>
  </div>
</section>
