<section id="timeline" class="timeline section">
  <h2>{{title}}</h2>
  <ul class="timeline__items">
    {{#each items}}
      <li>
        <h3>{{this.title}}</h3>
        {{#each this.text}}
          <p class="timeline__text">
            {{{this}}}
          </p>
        {{/each}}
        <div class="timeline__arrow">
          <img src="/chevron.svg" alt="">
        </div>
      </li>
    {{/each}}
  </ul>
</section>
