<div class="footer__top">
  <h2 class="travel__title">{{title}}</h2>
  <div class="map-wrapper">
    <div class="travel__map">
      <svg class="map-circle map-circle--one" expanded="true" height="45px" width="45px">
        <circle cx="50%" cy="50%" r="6px"></circle>
        <circle class="pulse" cx="50%" cy="50%" r="12px"></circle>
      </svg>
      <svg class="map-circle map-circle--two" expanded="true" height="45px" width="45px">
        <circle cx="50%" cy="50%" r="6px"></circle>
      </svg>
      <svg class="map-circle map-circle--three" expanded="true" height="45px" width="45px">
        <circle cx="50%" cy="50%" r="6px"></circle>
      </svg>
      <svg class="map-circle map-circle--four" expanded="true" height="45px" width="45px">
        <circle cx="50%" cy="50%" r="6px"></circle>
      </svg>
      <svg class="map-circle map-circle--five" expanded="true" height="45px" width="45px">
        <circle cx="50%" cy="50%" r="6px"></circle>
      </svg>
    </div>
  </div>
</div>