<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Alphadev Inside</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.0/css/swiper.min.css">
  <link rel="stylesheet" href="main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  {{> header }}
  {{> dotstyle-menu }}
  <img id="bg-triangle-green" class="bg-triangle bg-triangle--green" src="/triangles/pattern_triangel_gron.svg" alt="triangles">
  <img id="bg-triangle-blue" class="bg-triangle bg-triangle--blue" src="/triangles/pattern_triangel_bla.svg" alt="triangles">
  {{!-- <img id="bg-triangle-orange" class="bg-triangle-orange" src="/triangles/personal_orange.svg" alt="triangles"> --}}
  <img id="bg-triangle-blue-small" class="bg-triangle-blue-small" src="/triangles/personal_bla.svg" alt="triangles">

  {{{body}}}
  {{> footer footer}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/inview.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.0/js/swiper.min.js"></script>
  <script src="main.js"></script>
</body>

</html>
