<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Alphadev Inside</title>
  <link rel="stylesheet" href="main.css" />
</head>

<body>

{{> header }}

{{{body}}}

{{> footer }}

<script src="main.js"></script>
</body>

</html>