
@font-face {
    font-family: 'Montserrat Light';
    src: url('/Montserrat-Light.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('/Montserrat-Medium.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Passion One';
    src: url('/PassionOne-Bold.ttf');
    font-weight: normal;
}
