.arrow {
  width 2.5rem
  height 2.5rem
  display inline-block
  position relative
  margin 10px 1rem
  cursor: pointer;

  span {
    top 1rem
    position absolute
    width 1.5rem
    height .2rem
    background-color orange-dark
    display inline-block
    transition all .2s ease

    &:first-of-type {
      left 0
      top: 2rem;
      transform rotate(45deg)
    }
    &:nth-of-type(2) {
      right: 0.25rem
      top: 1.5rem
      width: 2rem;
      transform rotate(90deg)
    }
    &:last-of-type {
      right 0
      top: 2rem;
      transform rotate(-45deg)
    }
  }

  &--active {
    span {
      &:first-of-type {
        bottom: 0;
        top: 1rem
        transform rotate(-45deg)
      }

      &:last-of-type {
        bottom: 0;
        top: 1rem
        transform rotate(45deg)
      }
    }
  }
}
