
.back-to-inside {
  padding: 60px side_padding;
  text-align: center;
  @media (min-width: is_tablet) {
    padding: 90px 0;
  }

  &__logo {
    margin: 40px auto 0;
    @media (min-width: is_tablet) {
      width: 50%;
    }
    &-inside {
      width: 50%;
    }
    &-alphadev {

    }
  }
}
