
.cover {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('cover.jpg');
  background-size: cover;
}

.cover__inside-svg {
  width: 200px;
  margin-bottom: 10px;
}

.cover__alphadev-svg {
  width: 600px;
  margin-bottom: 20px;
}

.cover__subtext {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  text-align: center;
  color: white;
}
