
.cover {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('cover.jpg');
  background-size: cover;
  background-color: purple-darker;

  padding: 15px;
  @media (min-width: is_tablet) {
    padding: 0;
  }
}

.cover__inside-svg {
  width: 200px;
  margin-bottom: 10px;
}

.cover__alphadev-svg {
  margin-bottom: 20px;
  @media (min-width: is_tablet) {
    width: 600px;
  }
}

.cover__subtext {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  text-align: center;
  color: white;
}
