
.cover {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('cover.jpg');
  background-size: cover;
  background-color: purple-darker;
  color: white;
  position: relative;
  z-index: 10;

  padding: 15px;
  @media (min-width: is_tablet) {
    padding: 0;
  }
}

.cover__inside-svg {
  width: 200px;
  margin-bottom: 10px;
}

.cover__alphadev-svg {
  margin-bottom: 20px;
  @media (min-width: is_tablet) {
    width: 600px;
  }
}

.cover__subtext {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  text-align: center;
  color: white;
}

.cover__arrow {
  width: 40px;
  position: absolute;
  bottom: 80px;
  opacity: 0;
  transition: all 2s ease-in-out;
}

.cover__arrow--anim {
  opacity: 1;
  bottom: 40px; 
}

.cover__arrow--remove {
  opacity: 0;
}

.cover__arrow--bounce {
  animation: animation 10s infinite;
}

@keyframes animation {
  0%   { bottom: 40px; }
  10%   { bottom: 60px; }
  20%   { bottom: 40px; }
  30% { bottom: 60px; }
  40% { bottom: 40px; }
}
