
.customers {
  padding: 60px 30px;
  background-image: url('/triangles/pattern_triangel_gron.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: is_tablet) {
    padding: 200px 0;
  }
}

.customers__content {
  max-width: 800px;
  margin: 0 auto;
}

.customers H2 {
  text-align: center;
}

.customers__list {
  list-style: none;
}
