
.dotstyle-menu {
	display: none;
	position: fixed;
	top: 50%;
	left: 30px;
	transform: translateY(-50%);
	z-index: 10;

	&__list {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
		cursor: default;
	}

	&__list-item {
		position: relative;
		display: block;
		width: 16px;
		height: 16px;
		cursor: pointer;
		margin: 20px auto;

		&--current {
			.dotstyle-menu__link::after {
				height: 100%;
			}
		}
	}

	&__link {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		outline: none;
		border-radius: 50%;
		text-indent: -999em;
		cursor: pointer; /* make the text accessible to screen readers */
		position: absolute;
		overflow: hidden;
		background-color: rgba(0,0,0,0);
		box-shadow: inset 0 0 0 2px rgba(purple-dark, 1);
		transition: background 0.3s;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			height: 0;
			left: 0;
			width: 100%;
			background-color: purple-dark;
			box-shadow: 0 0 1px purple-dark;
			transition: height 0.3s;
		}

		&:hover, &:focus {
			background-color: rgba(0,0,0,0.2);
		}
	}

	&--scrolled {
		@media (min-width: is_tablet) {
			display: block;
		}
	}
}
