.family-member-details {
  flex: 0 0 100%;
  flex-wrap: wrap;
  display: flex;
  &--hide {
    display: none;
  }
  justify-content: center;

  &__image-wrapper {
    justify-content center
  }


  &__image {
    &--mobile {
      display: block;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      @media (min-width: is_tablet) {
        display:none;
      }
    }
    &--desktop {
      display: none;
      width: 200px;
      height: auto;
      @media (min-width: is_tablet) {
        display:block;
      }
  }
  }

  &__text {
    flex: 0 0 100%;
    text-align: left;
    @media (min-width: is_tablet) {
      margin-left: 50px;
      flex: 0 0 60%
    }
    @media (max-width: is_tablet) {
      h3 {
        margin-top: 25px;
      }
    }
   
  }

  &__paragraph {
    margin-top: 0;
    padding: 25px 0;
  }
}

dl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

dt {
  flex-basis: 100%;
  margin: 0 0 0.2em;
  @media (min-width: is_tablet) {
    flex-basis: 35%;
    margin: 0 0 0.5em;
  }
}

dd {
  flex-basis: 100%;
  margin: 0 0 0.8em 0;
  @media (min-width: is_tablet) {
    flex-basis: calc(65% - 1em);
    margin: 0 0 0.2em 1em;
  }
}
