.family-member-details {
  flex: 0 0 100%;
  flex-wrap: wrap;
  display: flex;
  &--hide {
    display: none;
  }
  justify-content: center;

  &__image-wrapper {
    justify-content center
  }

  &__image {
    &--mobile {
      display: block;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      @media (min-width: is_tablet) {
        display:none;
      }
    }
    &--desktop {
      display: none;
      @media (min-width: is_tablet) {
        display:block;
        width: 280px;
        height: auto;
      }
    }
  }

  &__text {
    flex: 0 0 100%;
    text-align: left;
    @media (min-width: is_tablet) {
      margin-left: 10px;
      margin-right: 10px;
      flex: 0 0 60%
    }
    @media (max-width: is_tablet) {
      h3 {
        margin-top: 25px;
      }
    }
  }

  &__paragraph {
    margin-top: 0;
    padding: 15px 0 10px 0;
  }
}

dl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 30px;
  @media (min-width: is_tablet) {
    padding-top: 16px;
  }
}

dt {
  flex-basis: 100%;
  margin: 0 0 0.2em;
}

dd {
  flex-basis: 100%;
  margin: 0 0 0.8em 0;
}
