.family-member-details {
  flex: 0 0 100%;
  flex-wrap: wrap;
  display: flex;
  &--hide {
    display: none;
  }
  justify-content: center;

  &__image-wrapper {
    justify-content center
  }
  &__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  &__text {
    flex: 0 0 100%;
    text-align: left;
    @media (min-width: is_tablet) {
      margin-left: 50px;
      flex: 0 0 60%
    }
  }

  &__paragraph {
    margin-top: 0;
  }
}

dl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

dt {
  flex-basis: 35%;
  margin: 0 0 0.5em;
}

dd {
  flex-basis: calc(65% - 1em);
  margin: 0 0 0.5em 1em;
}
