.footer {

}

.footer__top {
  max-width: content-width;
  margin: 0 auto;
  text-align: center;
  padding: 100px side_padding;

  @media (min-width: is_tablet) {
		padding: 100px 0;
	}
}

.footer__bottom {
  background-color: green;
  padding: 40px side_padding;
  color: white;
}

.travel__title {
  max-width: 400px;
  display: inline-block;
  margin-bottom: 50px;
}

.map-wrapper {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: is_tablet) {
		max-width: 640px;
	}
}

.travel__map {
  background-image: url("/karta.png");
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 92.32%;
  margin: 0 auto;
  position: relative;
  background-size: 90%;
}

.map-circle {
  top: 50%;
  left: 50%;
  position: absolute;
  &--one {
    transform: translate(-21px, -61px);
    @media (min-width: is_tablet) {
      transform: translate(-17px, -96px);
	  }
  }
  &--two {
    transform: translate(30px, 52px);
    @media (min-width: is_tablet) {
      transform: translate(80px, 130px);
	  }
  }
  &--three {
    transform: translate(-50px, 77px);
    @media (min-width: is_tablet) {
      transform: translate(-78px, 176px);
	  }
  }
  &--four {
    transform: translate(-45px, 28px);
    @media (min-width: is_tablet) {
      transform: translate(-58px, 85px);
	  }
  }
  &--five {
    transform: translate(-120px, 68px);
    @media (min-width: is_tablet) {
      transform: translate(-215px, 158px);
	  }
  }
}

.contact {
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat Medium';
}

.contact__logo {
  margin: 0 auto 25px;
  background-image: url("pratbubbla.svg");
  background-repeat: no-repeat;
  height: 49px;
  width: 45px;
}

.contact__adress {
  margin-bottom: 3px;
}

.contact__info {
  margin-bottom: 28px;
}

.contact__info-tel {
  margin-right: 10px;
  a {
    color: white;
    text-decoration: none;
  }
}

.contact__info-mail {
  a {
    color: white;
    text-decoration: none;
  }
}

.contact__social {
  a {
    text-decoration: none;
  }
  .social-facebook {
    background-image: url("facebook.svg");
    height: 22px;
    width: 10px;
    display: inline-block;
  }
  .social-twitter {
    background-image: url("twitter.svg");
    height: 22px;
    width: 27px;
    display: inline-block;
    margin-right: 20px;
  }
  .social-instagram {
    background-image: url("instagram.svg");
    height: 22px;
    width: 22px;
    display: inline-block;
    margin-right: 20px;
  }
  .social-linkedin {
    background-image: url("linkedin.svg");
    height: 22px;
    width: 23px;
    display: inline-block;
    margin-right: 20px;
  }
}

circle {
  stroke: orange;
  fill: orange;
  stroke-width: 2px;
  stroke-opacity: 1;
}

.pulse {
  fill: white;
  fill-opacity: 0;
  transform-origin: 50% 50%;
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    stroke-width: 3px;
    stroke-opacity: 1;
    transform: scale(0.3);
  }
  to {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(2);
  }
}
