
.join-us {
  padding: 60px 3.125%;
  @media (min-width: is_tablet) {
    padding: 200px 0;
  }
}

.join-us__content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.join-us h2 {
  text-align: center;
}