
.join-us {
  padding: 60px side_padding;
  @media (min-width: is_tablet) {
    padding: 200px 0;
  }
}

.join-us__content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.join-us h2 {
  text-align: center;
}

.join-us__coffee-logo {
  margin: 0 auto 25px;
  background-image: url("kaffe.svg");
  background-repeat: no-repeat;
  height: 100px;
  width: 69px;
}