.one-of-us {
  margin: 0 auto;
  padding: 100px 3.125% 50px;
  max-width: content-width;

  @media (min-width: is_tablet) {
    padding: 200px 0;
  }
}

.one-of-us__top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 80px;
}

.one-of-us__bottom {
  text-align: center;
}

.one-of-us__title {
  flex: 1 0 44%;
  margin-right: 6%;
  padding-top: 60px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;

  @media (min-width: is_tablet) {
    margin-bottom: 0;
    height: 280px;
  }

  .headline {
    position: relative;
    z-index: 15;
  }

  .green-triangle {
    position: absolute;
    width: 310px;
    height: 100%;
    background-image: url("/triangles/personal_gron.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 0;
    left: -10px;
    z-index: 5;
  }
  .orange-triangle {
    position: absolute;
    width: 200px;
    height: 180px;
    background-size: 100% 100%;
    background-image: url("/triangles/solid_triangel_orange.svg");
    background-repeat: no-repeat;
    z-index: 10;
    transform: translate(-50%,0);
    left: 50%;
    top: 35px;
  }

}

.one-of-us__body {
  flex: 1 0 50%;
}
