.sales-responsible {
  padding: 60px side_padding;
  margin: 0 auto;
  max-width: content-width;

  p {
    line-height: 1.8rem;
  }

  &__title {
    text-align: center;
    margin-bottom: 30px;
  }

  &__preamble {
    font-size: 1.13rem;
    text-align: center;
    margin-bottom: 60px;
    font-color: #da9926;
    font-style: italic;
  }

  &__part {

  }

  &__section {
    margin-bottom: 60px;
  }

  &__section-title {
    color:#7c9f97;
    border-bottom: 1px solid #7c9f97;
  }

  &__list {
    margin-bottom: 15px;
    overflow: hidden;

    &-title {
      margin: 40px 0 20px;
    }
    &-item {
      margin-bottom: 10px;
      font-weight: bold;
    }
  }

  &__join-us {
    text-align: center;
    margin-bottom: 70px;
  }

  &__apply-button {
    color: white;
    background-color: #da9926;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.15rem;
    font-family: 'Passion One';
    text-transform: uppercase;
    text-align: center;

    @media (min-width: is_tablet) {
      font-size: 1.315rem;
    }
  }
}
